.inbox {
    background: #EDF2F4;
    width: 100%;
    height: 600px;
    display: flex;
    border-radius: 4px;
}

.inbox aside {
    background-color: white;
    border-right: 1px solid #0000001e;
    flex: 1 1 auto;
    height: 100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    overflow-y: auto;
}

.inbox .title {
    display: flex;
    align-items: center;
    height: 7%;
    padding-inline: 1rem;
    font-weight: 600;
    border-bottom: 1px solid #0000001e;
}

.inbox main {
    background: white;
    height: 100%;
    flex: 1 1 70%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.inbox main .message-wrap {
    height: 85%;
    overflow-y: scroll;
    background-color: #fff;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.inbox main .message-wrap:hover {
    overflow: hidden;
    overflow-y: scroll;
}

.inbox main .message-wrap .senderSays {
    display: flex;
    align-items: end;
    gap: 0.5rem;
    max-width: 60%;
}

.inbox main .message-wrap .senderSays .text-box-sender {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.inbox main .message-wrap .senderSays img {
    width: 50px;
}

.inbox main .message-wrap .text-box-sender>.text,
.inbox main .message-wrap .userSays>.text {
    background-color: #eff3f6;
    padding: 0.5rem 1rem;
    width: fit-content;
    border-radius: 5px;
}

.inbox main .message-wrap .text-box-sender>.text>p:not(.text-box-sender>.text>p:nth-of-type(1)) {
    margin-top: 1.5rem;
}

.inbox main .message-wrap .userSays {
    margin-top: 3rem;
    max-width: 60%;
    align-self: flex-end;
}

.inbox main .message-wrap .userSays>.text {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.inbox main .message-wrap .userSays>.text>p:not(.userSays>.text>p:nth-of-type(1)) {
    margin-top: 1.5rem;
}

.inbox main footer {
    height: 8%;
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid #e0e9ec;
}

.inbox main footer input[type=text] {
    border: none;
    background: transparent;
    padding: 0.8em;
    outline: none;
    color: #000000;
    width: 100%;
}

.send {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 1.5rem;
}

.inbox main footer form {
    width: 100%;
    display: flex;
    padding-inline: 0.5rem;
    justify-content: space-between;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
}

.filter .text {
    line-height: 0;
    padding-block: 12px;
}

.filter .icon.left {
    margin-right: 5px;
}

.filter .icon.right {
    margin-left: 5px;
}

.loading {
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    z-index: 2;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.react-colorful__saturation,
.react-colorful__last-control {
    border-radius: unset !important;
}

.react-colorful__pointer {
    width: 16px !important;
    height: 16px !important;
}